.project {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
}

.project:hover {
  transform: translateY(-7px);
}

.project__description {
  margin-top: 1em;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project .link--icon {
  margin-left: 0.5em;
}

.project__type {
  display: inline-block;
  font-weight: 600;
  font-size: medium;
  color: var(--clr-primary);
  margin-top: 0.5em;
  padding: 0.5em 1em;
  border: 2px solid var(--clr-primary);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.project__type:hover {
  background-color: var(--clr-primary);
  color: var(--clr-bg);
}
