.lab {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
}

.lab:hover {
  transform: translateY(-7px);
}

.lab__description {
  margin-top: 1em;
}

.lab__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.lab__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.lab .link--icon {
  margin-left: 0.5em;
}

.lab__pdf::-webkit-scrollbar {
  width: 6px;
}

.lab__pdf::-webkit-scrollbar-track {
  background: var(--clr-bg-alt);
}

.lab__pdf::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
  border-radius: 4px;
}

.lab__pdf::-webkit-scrollbar-thumb:hover {
  background-color: #8fd14f; /* lighter green on hover */
}

.lab__pdf {
  background-color: var(--clr-bg-alt);
  border: 1px solid var(--clr-border);
}
.lab__pdf iframe {
  width: 100%;
  height: 100%;
  border: none;
}